# install and import

In [ ]:
# !pip install pandas
import pandas as pd

# pandas series

In [ ]:
import numpy as np
S = pd.Series([4.5,8,9,7,9,10])
print(S)
print(type(S))

0     4.5
1     8.0
2     9.0
3     7.0
4     9.0
5    10.0
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
S.name = "this is a number"
print(S)
print(type(S))

0     4.5
1     8.0
2     9.0
3     7.0
4     9.0
5    10.0
Name: this is a number, dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
S.values

array([ 4.5,  8. ,  9. ,  7. ,  9. , 10. ])

In [ ]:
print(S[0])
print(S[2])

4.5
9.0

In [ ]:
S.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
S.index = {
    'num1',
    'num2',
    'num3',
    'num4',
    'num5',
    'num6'
}
print(S)

num6     4.5
num3     8.0
num1     9.0
num5     7.0
num4     9.0
num2    10.0
Name: this is a number, dtype: float64

In [ ]:
S = pd.Series({
    'num1' : 100,
    'num2' : 101,
    'num3' : 102,
    'num4' : 103,
    'num4' : 104
}, name = 'this is a number')
print(S)
print("-------")
print(S['num1'])

num1    100
num2    101
num3    102
num4    104
Name: this is a number, dtype: int64
-------
100

In [ ]:
print(S.iloc[1])
print("-------")
print(S.iloc[-1])

101
-------
104

In [ ]:
print(S[{'num1', 'num2'}])
print("-------")
print(S.iloc[[0,1]])
print("-------")
print(S['num1' : 'num3'])

num2    101
num1    100
Name: this is a number, dtype: int64
-------
num1    100
num2    101
Name: this is a number, dtype: int64
-------
num1    100
num2    101
num3    102
Name: this is a number, dtype: int64

In [ ]:
print(S * 100)
print("-------")
print(S > 102)
print("-------")
print(S[S > 101])

num1    10000
num2    10100
num3    10200
num4    10400
Name: this is a number, dtype: int64
-------
num1    False
num2    False
num3    False
num4     True
Name: this is a number, dtype: bool
-------
num3    102
num4    104
Name: this is a number, dtype: int64

In [ ]:
print(S.mean())
print("-------")
print(S[S > S.mean()])

-------

num3    102
num4    104
Name: this is a number, dtype: int64

In [ ]:
print(S.std())
print(S[S > S.std()])
print("-------")

1.707825127659933
num1    100
num2    101
num3    102
num4    104
Name: this is a number, dtype: int64
-------

In [ ]:
print(S[(S > S.mean() - S.std() / 2) | (S > S.mean() + S.std() / 2)])
# | ----> or

num2    101
num3    102
num4    104
Name: this is a number, dtype: int64

In [ ]:
np.log(S)

num1    4.605170
num2    4.615121
num3    4.624973
num4    4.644391
Name: this is a number, dtype: float64

In [ ]:
print(S[(S > 100) & (S < 102)])
#& --> and

num2    101
Name: this is a number, dtype: int64

In [ ]:
print(S[(S > 100) | (S < 102)])
# | ----> or

num1    100
num2    101
num3    102
num4    104
Name: this is a number, dtype: int64

In [ ]:
S['num1'] = 500
print(S)
print("-------")
S[S > 101] = 600
print(S)

num1    500
num2    101
num3    102
num4    104
num     500
Name: this is a number, dtype: int64
-------
num1    600
num2    101
num3    600
num4    600
num     600
Name: this is a number, dtype: int64

# Data Frame

In [ ]:
df = pd.DataFrame({
    'math' : [18,17,16,20,11],
    'DS' : [20,14,15,16,17],
    'AP' : [20,14,18,16,17],
    'analyz' : [16,14,15,16,17]
})

print(df)

   math  DS  AP  analyz
0    18  20  20      16
1    17  14  14      14
2    16  15  18      15
3    20  16  16      16
4    11  17  17      17

In [ ]:
df.index = {
    'reza',
    'saedd',
    'negar',
    'mohammad',
    'ali',
}

print(df)

          math  DS  AP  analyz
ali         18  20  20      16
reza        17  14  14      14
mohammad    16  15  18      15
negar       20  16  16      16
saedd       11  17  17      17

In [ ]:
print(df.index)
print("-----------")
print(df.columns)
print("-----------")
print(df.info)
print("-----------")
print(df.size)
print("-----------")
print(df.shape)
print("-----------")
print(df.describe())
print("-----------")
print(df.dtypes)
print("-----------")
print(df.dtypes.value_counts())

Index(['ali', 'reza', 'mohammad', 'negar', 'saedd'], dtype='object')
-----------
Index(['math', 'DS', 'AP', 'analyz'], dtype='object')
-----------
<bound method DataFrame.info of           math  DS  AP  analyz
ali         18  20  20      16
reza        17  14  14      14
mohammad    16  15  18      15
negar       20  16  16      16
saedd       11  17  17      17>
-----------
20
-----------
(5, 4)
-----------
            math         DS         AP     analyz
count   5.000000   5.000000   5.000000   5.000000
mean   16.400000  16.400000  17.000000  15.600000
std     3.361547   2.302173   2.236068   1.140175
min    11.000000  14.000000  14.000000  14.000000
25%    16.000000  15.000000  16.000000  15.000000
50%    17.000000  16.000000  17.000000  16.000000
75%    18.000000  17.000000  18.000000  16.000000
max    20.000000  20.000000  20.000000  17.000000
-----------
math      int64
DS        int64
AP        int64
analyz    int64
dtype: object
-----------
int64    4
dtype: int64

In [ ]:
print(df[1:3])
#like a array and seies

          math  DS  AP  analyz
reza        17  14  14      14
mohammad    16  15  18      15

In [ ]:
print(df.loc['reza'])
# print(df['reza']) ----> this is a wrong

math      17
DS        14
AP        14
analyz    14
Name: reza, dtype: int64

In [ ]:
print(df.iloc[1])

math      17
DS        14
AP        14
analyz    14
Name: reza, dtype: int64

In [ ]:
print(df['math'])

ali         18
reza        17
mohammad    16
negar       20
saedd       11
Name: math, dtype: int64

In [ ]:
print(df.loc['reza' : 'saedd'])

          math  DS  AP  analyz
reza        17  14  14      14
mohammad    16  15  18      15
negar       20  16  16      16
saedd       11  17  17      17

In [ ]:
print(df.loc['reza' : 'saedd' , ['math' , 'DS']])

          math  DS
reza        17  14
mohammad    16  15
negar       20  16
saedd       11  17

In [ ]:
print(df.iloc[[0,1,-1]])

       math  DS  AP  analyz
ali      18  20  20      16
reza     17  14  14      14
saedd    11  17  17      17

In [ ]:
print(df.iloc[1:3 , [1,2]])

          DS  AP
reza      14  14
mohammad  15  18

In [ ]:
print(df.iloc[1:3 , 2:4])

          AP  analyz
reza      14      14
mohammad  18      15

In [ ]:
print(df['math'] > 14)

ali          True
reza         True
mohammad     True
negar        True
saedd       False
Name: math, dtype: bool

In [ ]:
print(df[df['math'] > 14])

          math  DS  AP  analyz
ali         18  20  20      16
reza        17  14  14      14
mohammad    16  15  18      15
negar       20  16  16      16

In [ ]:
print(df.loc[df['math'] > 14 , 'math'])

ali         18
reza        17
mohammad    16
negar       20
Name: math, dtype: int64

In [ ]:
print(df.loc[df['math'] > 14 , ['math', 'AP']])

          math  AP
ali         18  20
reza        17  14
mohammad    16  18
negar       20  16

In [ ]:
#drop
print(df.drop('reza'))

          math  DS  AP  analyz
ali         18  20  20      16
mohammad    16  15  18      15
negar       20  16  16      16
saedd       11  17  17      17

In [ ]:
print(df.drop(['reza' , 'ali']))

          math  DS  AP  analyz
mohammad    16  15  18      15
negar       20  16  16      16
saedd       11  17  17      17

In [ ]:
print(df.drop(columns = ['math']))

          DS  AP  analyz
ali       20  20      16
reza      14  14      14
mohammad  15  18      15
negar     16  16      16
saedd     17  17      17

In [ ]:
print(df[['math' ,'AP']] / 10)

          math   AP
ali        1.8  2.0
reza       1.7  1.4
mohammad   1.6  1.8
negar      2.0  1.6
saedd      1.1  1.7

In [ ]:
shift = pd.Series([3,2] , index=['math' , 'AP'])
print(df[['math' , 'AP']] + shift)

          math  AP
ali         21  22
reza        20  16
mohammad    19  20
negar       23  18
saedd       14  19

In [ ]:
shift = pd.Series([3,2, 0 ,1] , index=['math' , 'AP' ,'DS' , 'analyz'])
print(df[['math' , 'AP' ,'DS' , 'analyz']] + shift)

          math  AP  DS  analyz
ali         21  22  20      17
reza        20  16  14      15
mohammad    19  20  15      16
negar       23  18  16      17
saedd       14  19  17      18

In [ ]:
data_maining = pd.Series(
    [12,13,12],
    index = ['ali' , 'negar' , 'reza']

)

df['data_maining'] = data_maining
print(df)

          math  DS  AP  analyz  data_maining
ali         18  20  20      16          12.0
reza        17  14  14      14          12.0
mohammad    16  15  18      15           NaN
negar       20  16  16      16          13.0
saedd       11  17  17      17           NaN

In [ ]:
df['data_maining'] = 20

print(df)

          math  DS  AP  analyz  data_maining
ali         18  20  20      16            20
reza        17  14  14      14            20
mohammad    16  15  18      15            20
negar       20  16  16      16            20
saedd       11  17  17      17            20

In [ ]:
df.rename(
    columns={
        'AP' : 'AP*'
    },index={
        'ali' : "alireza",
        'mohammd' : 'mahdi'
    }
)
#همه اینها تغییر نا پذیر است :)

          math  DS  AP*  analyz  data_maining
alireza     18  20   20      16            20
reza        17  14   14      14            20
mohammad    16  15   18      15            20
negar       20  16   16      16            20
saedd       11  17   17      17            20

In [ ]:
df.rename(index=str.upper)

          math  DS  AP  analyz  data_maining
ALI         18  20  20      16            20
REZA        17  14  14      14            20
MOHAMMAD    16  15  18      15            20
NEGAR       20  16  16      16            20
SAEDD       11  17  17      17            20

In [ ]:
df.head

<bound method NDFrame.head of           math  DS  AP  analyz  data_maining
ali         18  20  20      16          12.0
reza        17  14  14      14          12.0
mohammad    16  15  18      15           NaN
negar       20  16  16      16          13.0
saedd       11  17  17      17           NaN>

In [ ]:
df.tail

<bound method NDFrame.tail of           math  DS  AP  analyz  data_maining
ali         18  20  20      16          12.0
reza        17  14  14      14          12.0
mohammad    16  15  18      15           NaN
negar       20  16  16      16          13.0
saedd       11  17  17      17           NaN>

In [ ]:
math = df['math']
print(math.mean())
print('------------')
print(df.mean())
print('------------')
print(df.sum())
print('------------')
print(math.sum() / len(math))
print('------------')
print(df.max())
print('------------')
print(df.min())
print('------------')
print(df.median()) #this is (میانه)
print('------------')
print(df.quantile(.25))

16.4
------------
math            16.400000
DS              16.400000
AP              17.000000
analyz          15.600000
data_maining    12.333333
dtype: float64
------------
math            82.0
DS              82.0
AP              85.0
analyz          78.0
data_maining    37.0
dtype: float64
------------
16.4
------------
math            20.0
DS              20.0
AP              20.0
analyz          17.0
data_maining    13.0
dtype: float64
------------
math            11.0
DS              14.0
AP              14.0
analyz          14.0
data_maining    12.0
dtype: float64
------------
math            17.0
DS              16.0
AP              17.0
analyz          16.0
data_maining    12.0
dtype: float64
------------
math            16.0
DS              15.0
AP              16.0
analyz          15.0
data_maining    12.0
Name: 0.25, dtype: float64

# Read CSV File

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as pt
df = pd.read_csv('train.csv')

df.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [ ]:
df.tail()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

In [ ]:
df = pd.read_csv('train.csv' , header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
1,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
2,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
3,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
4,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No